<h2>Available drones
<a href="/drones/create"><button type="button">Create!</button></a></h2>
<table>
  <tr>
    <th>Name</th>
    <th>Propellers</th>
    <th>Speed</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {{#each drones}}
    <tr>
        <td>{{name}}</td>
        <td>{{propellers}}</td>
        <td>{{maxSpeed}}</td>
        <td><a href="/drones/{{_id}}/edit"><button type="button">Edit!</button></a></td>
        <td>
          <form action="/drones/{{_id}}/delete" method="POST">
            <button>Delete!</button>
          </form>
        </td>
    </tr>
  {{/each}}
</table>
